*{
	font-family: 'Montserrat', sans-serif;

}

body{
	margin: 0;
}

.navbar-default {
    background: rgba(145, 145, 145, 0.3);
    border: none;
}

.navbar-default .navbar-nav>li>a {
    color: whitesmoke;
}

.fondo{
	background-image: url(../../img/bg-header.jpg);
	background-size: cover;
	background-position: center;
	
}

.profile{
	padding: 130px 0;
	width: 23%;
}

.fa-chevron-down{
	color: whitesmoke;
	font-size: 15px;
	margin: 15px 0;
}

.circulo{
	border-radius: 50%;
    border: 3px solid white;
    height: 50px;
    width: 50px;
    position: relative;
    left: 48%;
    margin-bottom: 5px;
}

.our-value h2{
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 10%;
	font-size: 50px;
	color: black;
	margin-bottom: 20px;
}

.linea{
	border-top: 2px solid rgba(145, 145, 145, 0.8);
	width: 100%;
	margin: 2px 0;

}

.parrafo p{
	padding: 40px 0;
	font-size: 15px;
}

.cajas{
	display: inline-block;
	width: 30%;
	margin: 0 15px;
	padding: 0;
	text-align: left;
	margin-bottom: 15%;
}

.cajas h4{
	text-transform: uppercase;
	margin-top: 20px;
}

.cajas li{
	font-style: italic;
}

.icono{
	border-radius: 50%;
    border: 3px solid black;
    height: 50px;
    width: 50px;
    margin-bottom: 70px;
    margin-right: 20px;
}

.icono i{
	font-size: 15px;
	margin-top: 15px;
}

